
.css_selector {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    
}

@-webkit-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-moz-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}

.mainLogo {
    width: 80%;
    height: 80%;
}

.second_section {
    display: flex;
    align-items: center;
    flex-direction: column;
    background: #11203F;
    width: 100%;
    height: 3276px;
}
.pe {
    width: 60%;
    height: 154px;
    color: #60FFEC;
    font-family: NeueMachina;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 100%;
}
.head{
    display: flex;
    width: 74.5%;
    justify-content: flex-start;
    margin-top: 215px;
    margin-bottom: 60px;
}
.head h2 {
    color: #60FFEC;
    margin-right: 106px;
}
.photos{
    display: flex;
    width: 1200px;
    justify-content: space-between;
    height: 723px;
    margin-top: 142px;
}
.item_left {
    background: url(../../assets/grad.png);
    width: 692px;
    border-radius: 50px;
    height: 723px;
}
.item_right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.item {
    width: 488.571px;
    height: 352.747px;
    border-radius: 50px;
    background: url(../../assets/grad1.png);
}
.com_cards {
    margin-top: 194px;
    display: flex;
    margin-left: 204px;
    height: 794px;
    align-self: center;
}
.last_section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 950px;
    background: url('../../assets/home_last_grad.png') no-repeat;
    background-size: cover;
    box-shadow: 0px 10px 30px 2px rgba(0, 0, 0, 0.50) inset;
    background-repeat: no-repeat
}

.cont .head {
    padding: 0;
    margin: 0px;
    margin-top: 52px;
    margin-bottom: 62px;
    display: flex;
}
.cont {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
.winget {
    border:0px;
    border-radius: 10%;
    width: 339px;
    height: 387px;
    margin-left: 50px;
    overflow: hidden;

    box-shadow: 0 0 16px 3px rgba(0,0,0,.2);
}
.media{
    width: 60%;
    display: flex;
    align-self: center;
    
}
  .ytContainer {
    width: 690px;
    margin-right: -10%;
    height: 387px;
  }
.ytContainer h2{
    margin-bottom: 50px;
}
.nadp{
    display: flex;
    margin-top: 40px;
    justify-content: space-around;
    margin-bottom: 41px;
}